{%extends 'base.html'%}
    {%block content%}
    <h1 class="display-4 text-white text_data">User Information</h1>
    <a href="{{url_for('reset_t')}}" onclick="get(`{{url_for('reset_t')}}`, event, pause, printer, 'result', 'result')" class="btn btn-primary float-right">Reset Transactions</a>
    <div id="result" class="text-white my-3 mx-3 float-right"></div>    
    <br><br>
    <form>
        <div class="form-row">
            <div class="form-group col-md-6">
            {% if 'node_id' in data %}
            <label for="Node_ID" class="fs-6">Node ID</label>
            <p class="form-control text-info fs-6" id="Node_ID">{{data["node_id"]}}</p>
            {% endif %}
            </div>
            <div class="form-group col-md-6">
                {% if 'chain_miner' %}
                <label for="Chain Miner" class="fs-6">Blockchain Miner?</label>
                <p class="form-control text-info fs-6" id="Chain Miner">{{data["chain_miner"]}}</p>
                {% endif %}
            </div>
        </div>
        <br>
        <div class="form-row">
            <div class="form-group col-md-6">
                {% if 'server_port' %}
                <label for="Server_Port" class="fs-6">Server Port</label>
                <p class="form-control text-info fs-6" id="Server_Port">{{data["server_port"]}}</p>
                {% endif %}
            </div>
            <div class="form-group col-md-6">
                {% if 'flask_port' %}
                <label for="Flask Port" class="fs-6">Flask Port Number</label>
                <p class="form-control text-info fs-6" id="Flask Port">{{data["flask_port"]}}</p>
                {% endif %}
            </div>
        </div>
        <br>
        <div class="form-row">
            <div class="form-group col-md-6">
                {% if 'public_key' in data %}
                <label for="Public_Key" class="fs-6">Public Key</label>
                <button class="btn btn-primary float-right p-2 m-2" onclick="event.preventDefault();el = document.createElement('textarea');el.value = `{{data['public_copy']}}`;document.body.appendChild(el);el.select();document.execCommand('copy');document.body.removeChild(el);"><i class="fa fa-copy"></i></button>
                <p class="form-control text-info fs-6 break" id="Public_Key">{{data["public_key"]}}</p>
                {% endif %}
            </div>
            <br>
            <div class="form-group col-md-6">
                {% if 'private_key' in data %}
                <label for="Private_Key" class="fs-6">Private Key</label>
                <p class="form-control text-info fs-6 break" id="Private_Key">{{data["private_key"]}}</p>
                {% endif %}
            </div>
        </div>
    </form>        
    {%endblock%}
